*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font: 62.25%;
}

body {
  font-size: 1.5rem;
  box-sizing: border-box;
}
.countryDiv{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  flex-wrap: wrap;
  margin: 0 10px;
}


.nav {
  background-color: blue;
  color: white;
  padding: 20px;
}

.countryCard{
  background-color: rgb(233, 158, 131);
  width: 20%;
  margin: 10px;
}

.countryName {
  background-color: black;
  color: white;
  text-align: center;
}

td {
  margin-left: 10px;
}

.nav{
  display: flex;
  justify-content: space-between;
}
.nav ul {
  list-style: none;
  display: flex;
}

li {
  color: white;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

a {
  display: block;
  color: white;
  text-decoration: none;
}
